<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="sqlstring" connectionString="Data Source=.;Initial Catalog=EnumDB;uid=sa;pwd =123.zxc" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
	  <!--窗体背景-->
    <add key="frmBacgroundName" value="xiaoxiang.gif"/>
	  <!--按钮图片-->
    <add key="btnBacgroundName" value="泡泡.jpg"/>
	  <!--是否开机自启-->
	<add key="IsStarting" value="true"/>
  </appSettings>
</configuration>